<table class="table table-striped">
    <thead>
      <tr>
        <th>Firstname-2</th>
        <th>Lastname-2</th>
        <th>Email-2</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Vikas</td>
        <td>Yadav</td>
        <td>john@example.com</td>
      </tr>
      <tr>
        <td>Ankit</td>
        <td>Moe</td>
        <td>mary@example.com</td>
      </tr>
      <tr>
        <td>Prashat</td>
        <td>Dhyani</td>
        <td>july@example.com</td>
      </tr>
    </tbody>
  </table>